In [ ]:
# This is created by jamal hussain shah topci Metric Spaces and Distances

# Metric Spaces and Distances

# Euclidean Distance

In [1]:
distance.l2 <- function(x,y){
  sqrt(sum((abs(x - y))^2 ))
}

In [2]:
x <- c(1,0,0)
y <- c(0,1,0)
distance.l2(x, y)

[1] 1.414214

In [3]:
# Manhattan Distance

In [4]:
distance.l1 <- function(x,y){
  sum(abs(x-y))
}

In [5]:
distance.l1(x, y)

[1] 2

In [6]:
# Max Distance

In [7]:
distance.linf <- function(x,y){
  max(abs(x - y))
}

In [8]:
distance.linf(x, y)

[1] 1

In [9]:
#  Minkowski Distance

In [10]:
distance.lp <- function(x, y, p){
  (sum((abs(x - y))^p))^(1/p)
}

In [11]:
distance.lp(x, y, p=2)

[1] 1.414214

In [12]:
distance.lp(x, y, p=.5)

[1] 4

In [13]:
distance.lp(x, y, p=3)

[1] 1.259921

In [14]:
#  Canberra Distance

In [15]:
distance.canberra <- function(x, y){
  a1 <-  abs(x - y)
  a2 <- abs(x) + abs(y)
  a3 = a1 / a2
  sum(a1 / a2, na.rm=T)
}

In [16]:
distance.canberra(x, y)

[1] 2

In [17]:
# Binary or Jaccard Distance

In [18]:
distance.binary <- function(x, y){
  x <- x != 0
  y <- y != 0
  a <- sum(x & y)
  b <- sum (x | y)
  1 - (a / b)
}

In [19]:
a <- c(1, 0, 3, 0)
b <- c(0, 2, 4, 0)
distance.binary(a, b)

[1] 0.6666667

In [20]:
# dist Function

In [21]:
eye <- diag(3)

In [22]:
eye

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

In [28]:
# Computing Manhattan distances:
d1 <- dist(eye, method='manhattan')

In [29]:
as.matrix(d1)

  1 2 3
1 0 2 2
2 2 0 2
3 2 2 0

In [30]:
# Computing maximum distances:

In [31]:
dinf <- dist(eye, method='maximum')
as.matrix(dinf)

  1 2 3
1 0 1 1
2 1 0 1
3 1 1 0

In [32]:
# Minkowski distances:

In [33]:
as.matrix(dist(eye, 'minkowski', p=0.5))

  1 2 3
1 0 4 4
2 4 0 4
3 4 4 0

In [34]:
as.matrix(dist(eye, 'minkowski', p=3))

  1        2        3
1 0.000000 1.259921 1.259921
2 1.259921 0.000000 1.259921
3 1.259921 1.259921 0.000000

In [35]:
# Canberra distances:

In [36]:
as.matrix(dist(eye, 'canberra'))

  1 2 3
1 0 3 3
2 3 0 3
3 3 3 0

In [37]:
# It is also straightforward to compute distance between two points as follows:

In [38]:
a <- c(1, 0, 3, 0)
b <- c(0, 2, 4, 0)
dist(rbind(a, b))

        a
b 2.44949

In [39]:
dist(rbind(a, b), method='manhattan')

  a
b 4

In [40]:
dist(rbind(a, b), method='maximum')

  a
b 2

In [41]:
# Computing the binary distance:

In [42]:
dist(rbind(a, b), method='binary')

          a
b 0.6666667

In [43]:
# Understanding the dist object
# The dist function returns an object of class dict.
#Let us create 4 points for this exercise:

In [44]:
points <- diag(c(1,2,3,4))

In [46]:
points

     [,1] [,2] [,3] [,4]
[1,] 1    0    0    0
[2,] 0    2    0    0
[3,] 0    0    3    0
[4,] 0    0    0    4

In [47]:
#Let us compute the city block distances between these points:

In [48]:
distances <- dist(points, method='manhattan')

In [49]:
# Check the class of the returned value:

In [50]:
class(distances)

[1] "dist"

In [51]:
distances

  1 2 3
2 3
3 4 5
4 5 6 7

In [52]:
# If you note carefully, you can see that the distances object contains the lower triangle of the distance matrix [below the diagonal]. For 4 points, it stores 6 distances (1 + 2 + 3 = 4 * 3 / 2 = 6).
# The number of points for which distances were calculated can be accessed from the dist object as follows:

attr(distances, 'Size')

[1] 4

In [53]:
attr(distances, 'Size')

[1] 4

In [54]:
 n <- attr(distances, 'Size')

In [55]:
# Let us say we want to find the distance between 2nd and 4th point:

In [56]:
i <- 2; j <- 4;

In [57]:
distances[n*(i-1) - i*(i-1)/2 + j-i]

[1] 6